name: Parabank UI Automation Execution

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  run-selenium-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Create Directories for Artifacts
        # This ensures the upload-artifact step doesn't fail/warn
        run: mkdir -p screenshots

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Execute Selenium Tests
        run: python -m unittest discover -s tests -p 'test_*.py'
        env:
          PYTHONPATH: . 

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: selenium-execution-data
          path: |
            screenshots/
            *.log
